body {
    background: rgb(34, 30, 30);
    color: white;

}

.user {
    padding: 0px, 20px, 0px, 20px;
}
.links {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    
}

nav a {
    text-decoration: none;
    color:white;
    padding: 1px 30px;
}

a:hover {
    color: red;
}

h1 {
    color: white;
    text-align: center;
}

.header {
    font-size: 48px;
}

.input-box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div {
    display: flex;
    align-items: center;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    box-sizing: border-box;
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.search-box {
    box-sizing: border-box;
    color: white;
    padding: 16px 20px;
    margin: 150px 500px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Set a style for the submit/register button */
.registerbtn {
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.sign-in-btn {
    box-sizing: border-box;
    background-color: #c9522e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    box-sizing: border-box;
    opacity:1;
}

.sign-in-btn:hover {
    box-sizing: border-box;
    opacity:1;
}

