body {
    background: #522622;
    /* background:rgb(97, 27, 44); */
    color: white;
    font-family: 'Sriracha', cursive;

}

.user {
    padding: 0px, 20px, 0px, 20px;
}
.links {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    
}

nav a {
    text-shadow: 2px 1px 2px black;
    text-decoration: none;
    color:white;
    padding: 1px 30px;
    font-size: 30px;
}

a:hover {
    color:#FF837A;
}

h1 {
    color: white;
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 50px;
    text-shadow: 2px 1px 2px black;
}

h3 {
    font-size: 25px;
    text-shadow: 2px 1px 2px black;
}

label {
    font-size: 25px;
    text-shadow: 2px 1px 2px black;
}

h4 {
    text-shadow: 2px 1px 2px black;
}

.header {
    font-size: 48px;
}

.input-box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div {
    display: flex;
    align-items: center;
}

.container {
    padding: 16px;
}

input[type=text], input[type=password] {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    box-sizing: border-box;
    background-color: #ddd;
    outline: none;
}

hr {
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.search-box {
    box-sizing: border-box;
    color: white;
    padding: 16px 20px;
    margin: 150px 500px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerbtn {
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.message-button {
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
}

.sign-in-btn {
    box-sizing: border-box;
    background-color: #c9522e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.delete-button {
    box-sizing: border-box;
    background-color: #c92e2e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
}

.edit-button {
    box-sizing: border-box;
    background-color: #2e83c9;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
}

.registerbtn:hover {
    box-sizing: border-box;
    opacity:1;
}

.sign-in-btn:hover {
    box-sizing: border-box;
    opacity:1;
}

.edit-button:hover {
    box-sizing: border-box;
    opacity:1;
}

.delete-button:hover {
    box-sizing: border-box;
    opacity:1;
}
.message-button:hover {
    box-sizing: border-box;
    opacity:1;
}

.object-listings {
    display:flex;
    flex-direction: column;
    flex: 1 0 100px;
}

.title {
    display: flex;
    justify-items: center;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    margin-top: 0px;
    margin-left: 10px;
}

.price {
    color: #2D8557;
}

.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FFE4D6;
    color: black;
    box-shadow: 10px 4px 4px black;
    padding: 10px;
}
 span p {
    display: inline;
 }